body {
  background-color: #f4cfdf;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}

#main-navbar .navbar-brand,
#main-navbar .navbar-link {
  font-size: 1.5em;
  font-weight: 200;
}

#main-navbar .nav-link {
  color: white;
}

#main-navbar .navbar-brand {
  color: rgb(252, 65, 131);
}

#main-navbar .nav-link:hover {
  color: rgb(252, 65, 131);
}

h2 {
  font-weight: 200;
}

#headingGroup span {
  color: rgb(252, 65, 131);
  font-weight: 500;
}
