body {
  background-color: #f4cfdf;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}

#main-navbar .navbar-brand,
#main-navbar .nav-link {
  font-size: 1.5em;
  font-weight: 200;
}

#main-navbar .nav-link {
  color: white;
}

#main-navbar .navbar-brand {
  color: rgb(223, 46, 108);
}

#main-navbar .nav-link:hover {
  color: rgb(223, 46, 108);
}

h2 {
  font-weight: 200;
  font-size: 4rem;
}

@media (max-width: 1350px) {
  h2 {
    font-size: 3rem;
  }
}

@media (max-width: 1100px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 915px) {
  h2 {
    font-size: 2rem;
  }
  #main-navbar .navbar-brand,
  #main-navbar .nav-link {
    font-size: 1.4em;
  }
}

section {
  color: rgb(223, 46, 108);
}

@media (max-width: 768px) {
  .paragraphs img {
    display: none;
  }
}

#headingGroup span {
  color: rgb(223, 46, 108);
  font-weight: 500;
}
